:root {
    --primary-font: 'Roboto', sans-serif;
    --color-in-action: #2196F3;
    --color-title: #212121;
    --color-text: #757575;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
font-family: var(--primary-font);
color: var(--color-text);
}

/*==========================COMPONENTS====================*/

.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-dark {
    color: #000000;
}

.logo-light {
color: #FFFFFF;
}

/*==========================/COMPONENTS====================*/

/*=============================HEADER=====================*/

.page-header {
    background: #FFFFFF;
}

.navigation-link-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-title)
}

.navigation-link-item:hover,
.navigation-link-item:focus {
    color: var(--color-in-action)
}

.contact-link-header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-link-header-item:hover,
.contact-link-header-item:focus {
    color: var(--color-in-action)
}

.current {
    color: var(--color-in-action)
}

/*=============================/HEADER=====================*/

/*===============================HERO STUDIO======================*/

.order {
    background: #2F303A;
}

.order-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-butten {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        color: #FFFFFF;
        background: #2196F3;
        cursor: pointer;
}

/*==============================/HERO STUDIO=======================*/

/*=============================FEATURES=====================*/

.features {
    background: #E5E5E5;
}

.features-title-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-title)
}

.features-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;     
}

/*=============================/FEATURES=====================*/

/*=============================ACTIVITY=====================*/

.activity {
    background: #E5E5E5;
}

.activity-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--color-title)
}

/*=============================/ACTIVITY=====================*/

/*=============================OUR TEAM=====================*/

.our-team {
    background: #F5F4FA;
}

.our-team-item {
    background: #FFFFFF;
}

.our-team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--color-title)
}

.our-team-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title)
}

.our-team-text {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
}

/*=============================/OUR TEAM=====================*/

/*==========================HERO PORTFOLIO=================*/

.service {
    background: #E5E5E5;
}

.service-list-button {
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        background: #F5F4FA;
        cursor: pointer;
}

.service-list-button:hover,
.service-list-button:focus {
    color: #FFFFFF;
    background: var(--color-in-action)
}

/*==========================/HERO PORTFOLIO=================*/

/*=============================CATALOG=====================*/

.catalog {
    background: #E5E5E5;
}

.catalog-item {
    background: #FFFFFF;
}

.catalog-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--color-title)
}

.catalog-text {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
}

/*=============================/CATALOG=====================*/

/*=============================FOOTER=====================*/

.footer {
    background: #2F303A;
}

.address-footer {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.address-link-item {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

/*=============================/FOOTER=====================*/